{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1 class="h1">{{ title }}</h1>

<ul class="grid">
  {% for team in eredivisieData.teams %}
    <li>
      <a href="/team/{{ team.strTeam | replace: " ", "_"   }}">
       <img src="{{ team.strBadge }}">
      </a>
    </li>
  {% endfor %}
</ul>

<ul clas="grid">
  {% for team in BplData.teams %}
    <li>
      <a href="/team/{{ team.strTeam | replace: " ", "_"   }}">
      <img src="{{ team.strBadge }}">
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
